h1 {
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
}
  
  p {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      color: white;
  }
img {
    width: 100%;
    position:relative;
    top: 30%;
}


