body {
  background-color: black;
  cursor: default;
}

h1 {
    text-align: center;
    font-family: Arial;
    font-size: 50px;
    color: white;
}
  
  p {
      text-align: center;
      font-family: sans-serif;
      font-size: 20px;
      color: white;
  }

  li { color: white;
    cursor: pointer;
  }
  
  ul { color: white;
    cursor: pointer;
    margin: 0%;
    padding: 0px;
    text-align: center;
    list-style: none;
}
  ul li {float:left;
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    align-items: center;
  }

ul li a {text-decoration: none;
  color: white;
  display: block;
}

ul li a:hover{
  background-color: brown;
}
ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;
}


img {
    width: 20%;
    position:relative;
    margin-top: 32%;
    float: right;
    cursor: default;
    
}

/*.button {
    border: none;
    color: white;
    padding: 20px 5px;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    
    
  }
  
  .button1 {background-color: black;
    position: relative;
    top: -100%;
    }
  .button2 {background-color: black;
    position:relative;
    top: -100%;
  }
   
  .button3 {background-color: black;
    position:relative;
    top: -100%;
    }*/

  

  
